.navigation {
	color: #FFFFFF;
	width: 50%;
	height: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.bottomNavigation {
	color: #FFFFFF;
	width: 50%;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;

	@media only screen and (min-width: 350px) {
		margin-bottom: 0;
	}
}

.menuItem {
	cursor: pointer;
	display: flex;
}
