.container {
	margin: 0 10px 0 0 ;
	display: flex;
	justify-content: flex-end;
	position: relative;
	background-color: transparent;
	border: none;

	@media only screen and (min-width: 1024px) {
		margin: 50px 50px 0 0;
	}

	.username {
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		margin-left: 7px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		@media only screen and (min-width: 350px) {
			font-size: 14px;
			line-height: 12px;
		}

		@media only screen and (min-width: 768px) {
			font-size: 16px;
			line-height: 18px;
		}
	}
}

.avatarContainer {
	display: flex;
	align-items: center;
}
