.container {
	display: flex;
	align-items: flex-start;
	margin: 0 50px 0 50px;
}

.userCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	gap: 20px;

	.userTitle {
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
	}

	.userInfo {
		font-size: 20px;
		font-weight: 300;
		line-height: 26px;
	}
}

.userDetails {
	width: 70%;
	height: 100%;
	margin: 0 30px;
	border: 1px solid #030303;
	background-color: #f0f0f0;

	table {
		width: 100%;
	}

	thead {
		display: inline-block;
		width: 50%;
		text-align: left;
	}

	tbody {
		display: inline-block;
		width: 50%;
	}

	th, td {
		padding: 30px;
	}

	.certificate {
		border-top: 1px solid #030303;
		padding: 30px 30px;

		.title {
			font-weight: 700;
		}
	}
}
